name: Test Report
on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Test Report
        uses: dorny/test-reporter@v1
        with:
          artifact: test-results # artifact name
          name: .NET Tests # Name of the check run which will be created
          path: "**/*.trx" # Path to test results (inside artifact .zip)
          reporter: dotnet-trx # Format of test results
