---
name: Test Report
on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Test Report
        uses: dorny/test-reporter@v1
        with:
          name: .NET Tests
          reporter: dotnet-trx
          artifact: test-results
          path: "**/*.trx" # Path to test results (inside artifact .zip)
